.contackt {
  display: flex;
  margin-left: auto;
}

.contackt__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.contackt__icon {
  fill: currentColor;
  align-items: baseline;
  margin-right: 10px;
}

.contackt__item:not(:last-child) {
  margin-right: 50px;
}

.contackt__item:hover,
.contackt__item:focus {
  color: var(--color-accent);
}
