.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-pre);
  padding: 33px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:active {
    color: #ff0000;
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
