.developer {
  background-image: linear-gradient(#f5f4fa, #f5f4fa);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}

.developer .social-items {
  justify-content: center;
}

.developer .icon-social__link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.developer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-pre);
  margin-bottom: 50px;
}

.team-list__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.developer-caption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.developer-caption__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-pre);
  margin-bottom: 10px;
}

.developer-caption__profession {
  text-align: center;
  margin-bottom: 28px;
}
